:root {
  --bs-primary: #1ba94c; 
  --bs-primary-rgb: 27, 169, 76;

  --bs-body-bg: #333636; 
  --bs-body-color: #e9e9e9;

  --bs-danger-rgb: 214, 61, 46;
}

.bg-card-custom {
  background-color: #3c3e44 !important;
  border-radius: 10px;
}

.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  height: 100%;
}

.btn-pag {
  --bs-btn-color: #aaffc3;
  --bs-btn-border-color: #aaffc3;
  --bs-btn-hover-color: #121212;
  --bs-btn-hover-bg: #aaffc3;
  --bs-btn-hover-border-color: #aaffc3;
  --bs-btn-padding-x: 1.5rem; 
  --bs-btn-padding-y: 0.5rem;
}