@media (width <= 425px) {
  .img-home {
    width: 350px;
    padding: 10px;
    margin: 60px auto 0;
  }

  .btn-search {
    display: block;
    margin: 20px auto 0;
  }

  .back-home {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .characters {
    padding: 0 20px;
  }

  .container-characters {
    display: table-cell;
  }

  .character-container {
    width: auto;
  }

  .character-container {
    margin: 10px 0;
  }

  .character-container img {
    width: 150px;
  }

  .language-buttons {

    img {
      width: 42px;
      height: auto;
      cursor: pointer;
      margin: 0 5px;
    }
  }

  .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .btn-filter {
    margin-left: 5px;
    margin-right: 5px;
  }

  .language-buttons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);


    img {
      width: 42px;
      height: auto;
      cursor: pointer;
      margin: 0 5px;
    }
  }

  .text-grey {
    margin-right: 5px;
  }

}